<% provide(:button_text, "Save changes") %>
<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag "users", media: "all" %>
    <title>Update your Profile</title>
  </head>
  <body> 
    <div id="main">
      <h1>Update your profile </h1>
        <%= render 'form' %>
    </div>
  </body>
</html>
