<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>New Profile</title>
  </head>
  <body>
    <div id="main">
    <h1>New Profile</h1>
      <form>
        <input type="text" name="firstname" placeholder="First name">
        <input type="text" name="lastname" placeholder="Last name">
        <input type="text" name="website" placeholder="Website">
        <input class="submit-button" type="submit" value="Sign up">
      </form>
     </div>
  </body>
</html>
